//coeur (bouton like) : au clic, il doit se remplir (possible de faire l'anim sur le :hover)

.fa-heart:hover{
  -webkit-transition: 0.5s color; //utilisation site autoprefixer
  -o-transition: 0.5s color; //utilisation site autoprefixer
  transition: 0.5s color;
  font-weight: bold;
  color: red;
  cursor: pointer;
}


//animation d'affichage des blocs : Entrées, Plats, Desserts. 

.menu_wrapper {
  animation: 1.2s slide ease-in-out;
  animation-fill-mode: backwards; //le point de depart de l'animation se cale sur l'apparence keyframe from soit opacity 0
}

@keyframes slide{
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@for $i from 1 through 3 { //définition de la boucle pour l'application du delai d'affichage en cascade
    .menu_wrapper:nth-child(#{$i}n) {
     animation-delay: #{$i * 0.75}s;
    }
}

//clic sur le plat souhaité : cela fait apparaitre une petite coche à droite du plat. la coche doit coulisser de la droite vers la gauche (l'effet peut apparaitre au :hover au lieu du clic). Si l'intitulé du plat est trop long, il doit etre rogné avec des points de suspension (expl fourni)


//loading spinner, qd l'appli aura plus de menus. Qd on arrive sur la page d'acc : 1à3sec - couvre intégralité écran (design de notre choix)