//--- ANIMATION COEUR --- (bouton like) : au clic, il doit se remplir (possible de faire l'anim sur le :hover)

.fa-heart:hover {
  -webkit-transition: 0.5s color; //utilisation site autoprefixer
  -o-transition: 0.5s color; //utilisation site autoprefixer
  transition: 0.5s color;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

//--- ANIMATION MENU --- Affichage des blocs : Entrées, Plats, Desserts.

.menu_wrapper {
  animation: 1.2s slide ease-in-out;
  animation-fill-mode: backwards; //point de depart de l'animation se cale sur l'apparence keyframe from soit opacity 0
}

@keyframes slide {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@for $i from 1 through 3 {
  //définition de la boucle pour l'application du delai d'affichage en cascade
  .menu_wrapper:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.75}s;
  }
}

//--- ANIMATION CHECK --- Au clic sur le plat souhaité : cela fait apparaitre une petite coche à droite du plat. 
.menu_bloc {
  cursor: pointer;

  .menu_bloc_price {
    display: flex;

    .price {
      flex: 1;
    }

    .check {
      flex: 1;
      background-color: $color-primary-3;
      border-radius: 0 10px 10px 0;
      color: white;
      text-align: center;
      font-size: $logo-title-size;
      justify-content: center;
      padding-top: 20px;
      padding-right: 0;
      overflow: hidden;
      display: none;
    }
  }

  & :hover {
    .check {
      display: block;
      animation: 1s checkSlide backwards;
      opacity: 1;

      .fa-check-circle {
        animation: checkRotation 1s linear;
      }
    }
  }
} //end menu_bloc

@keyframes checkSlide {
  from {
    transform: translateX(5px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes checkRotation {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//--- ANIMATION Loading Spinner --- En cours : modifs non prisent en compte... pkoi ????
.fa-spin{
  color: $color-primary-3;
}



