//--- ANIMATION COEUR --- (bouton like) : au clic, il doit se remplir (possible de faire l'anim sur le :hover)
//superposition de 2 coeurs fontawesome : 1vide+1plein puis animation au hover pour remplissage

.heart {
  cursor: pointer;
  position: relative;
}

.heart1 {
  position: absolute;
}

.heart2 {
  z-index: 999;
  color : #FF0000;
  opacity: 0;   
} 

.heart2:hover {
  animation: 0.5s filling linear forwards;
}
  
@keyframes filling {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

 

//--- ANIMATION MENU --- Affichage des blocs : Entrées, Plats, Desserts.

.menu_wrapper {
  animation: 1.2s slide ease-in-out;
  animation-fill-mode: backwards; //point de depart de l'animation se cale sur l'apparence keyframe from soit opacity 0
}

@keyframes slide {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@for $i from 1 through 3 {
  //définition de la boucle pour l'application du delai d'affichage en cascade
  .menu_wrapper:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.75}s;
  }
}



//--- ANIMATION CHECK --- Au clic sur le plat souhaité : cela fait apparaitre une petite coche à droite du plat. 
.menu_bloc {
  cursor: pointer;

  .menu_bloc_price {
    display: flex;

    .price {
      flex: 1;
    }

    .check {
      flex: 1;
      background-color: $color-primary-3;
      border-radius: 0 10px 10px 0;
      color: white;
      text-align: center;
      font-size: $logo-title-size;
      justify-content: center;
      padding-top: 20px;
      padding-right: 0;
      overflow: hidden;
      display: none;
    }
  }

  & :hover {
    .check { //zone check contenant icone glisse
      display: block;
      animation: 2s checkSlide backwards;
      opacity: 1;

      .fa-check-circle { //icone tourne
        animation: 1s checkRotation linear;
      }
    }
    .price p{ //le prix glisse 
      animation: 0.5s checkSlide;
    }
  }
} //end menu_bloc

@keyframes checkSlide {
  from {
    transform: translateX(5px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes checkRotation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes checkRotation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



//--- ANIMATION Loading Spinner --- 
//homepage se cache un moment pendant loader puis apparait et loader disparait

.homepage{
  animation: 2.7s show; //disparition apparition homepage
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  75%{
     opacity: 0;
  }
  to {  
     opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  75%{
     opacity: 0;
  }
  to {  
     opacity: 1;
  }
}

.loader{
  font-size: 6rem;
  color: $color-primary-1;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
 
  animation: 2.5s spin linear forwards; //rotation loader
  -webkit-animation: spin 2.5s linear forwards;
}


@-webkit-keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
  100% { 
    -webkit-transform: rotate(360deg); 
            transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg); 
            transform: rotate(0deg);
   }
  100% { 
    -webkit-transform: rotate(360deg); 
            transform: rotate(360deg);
    visibility: hidden;
  }
}

