/*header Homepage*/
header {
  font: {
    family: $logo-title-font;
    size: $logo-title-size;
  }
  text-align: center;
}

/*Header des autres pages du site*/
.header_page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;

  i {
    grid-column: 1;
    color: black;
  }

  .menu_page_title {
    grid-column: 2;
  }
} //end header_page
