/*Aspect général de la page*/
html {

  body {
    margin: 0;
    padding: 0;
    

    .homepage {
      font: {
        size: 1em;
        family: $txt-font;
      }
      line-height: 1.5;
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    } //end homepage
  } //end body

  /* Les titres */
  h1,
  h2,
  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
  } //end les titres

  /* Aside : localisation + zone How it works */
  aside {
    .localisation {
      background-color: darken($color: #f6f6f6, $amount: 05);
      padding: 2px;
    } //end localisation

    // zone Book the menu
    .btn_explore {
      background-color: $color-bg;
      height: 200px;

      h2 {
        font: $h2-font;
        padding-top: 30px;
      } //end h2

      p {
        padding-top: 10px;
        padding-bottom: 15px;
      } //end p

      a {
        background-color: $color-primary-1;
        background: linear-gradient(
          to left top,
          $color-primary-1,
          $color-primary-2
        );
        border-radius: 10px;
        color: $color-white;
        font-size: $fontsize-regular;
        width: 200px;
        height: 75px;
        box-sizing: border-box;
        text-align: center;
        padding: 7px;
        text-decoration: none;

        &:hover {
          background: linear-gradient(
            to left top,
            lighten($color-primary-1, 5),
            lighten($color-primary-2, 5)
          );
        } //end hover
      } //end bouton cliquable ancre
    } //end zone btn_explore
    //End zone Book the menu

    //Zone How it works
    .how_it_works {
      padding-bottom: 15px;

      h2 {
        padding-top: 20px;
        padding-bottom: 15px;
      }

      .btn_zone_hiw {
        display: flex;
        flex-direction: column;
        align-items: center;

         li{
            list-style: inside none;
            background-color: $color-primary-1;
          }

        .btn_hiw {
          background-color: $color-bg;
          border: 3px solid $color-bg;
          border-radius: 10px;
          box-shadow: 0 5px 5px 0 darken($color: #f6f6f6, $amount: 10);
          padding-bottom: 1px;
          line-height: 2rem;
          margin-bottom: 20px;
          width: 300px;
          text-align: left;

          i{
            padding-left: 15px;
            padding-right: 20px;
          }

  
        } 

       


      } //end btn_zone How it works


    } //end zone How it works
  } //end aside

  main {
    background-color: $color-bg;
      
      .restaurant_btn {
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: $color-white;
        border: 3px solid $color-bg;
        box-shadow: 0 5px 5px 0 darken($color: #f6f6f6, $amount: 10);
        border-radius: 15px;
        margin-bottom: 20px;
        width: 300px;
      
        .restaurant_img {
              position: relative; 
               
              img{
                width: 300px;
                height: 200px;
                border-radius: 15px 15px 0 0;
              }

              .label_new {
                position: absolute;
                right: 10px;
                top: 10px;
                margin-top: 8px;

                background-color: $color-primary-3;
                padding: 4px 20px 4px 20px;
                color: darken($color: $color-primary-3, $amount: 40%);
                }//end label_new
       }//end restaurant_img
              
        .restaurant_label {
                display: flex;

                .heart {
                  flex: 1;
                  text-align: right;
                  padding-right: 8px;
                }

                .restaurant_name {
                  flex: 2;
                  text-align: left;
                  padding-left: 8px;
                }
        }//end restaurant_label

      }//end restaurant_btn 

        

  } //end main


} //end html
