/*Aspect général de la page*/
html {
  margin: 0;
  padding: 0;

  body {
    .homepage {
      font: {
        size: 1em;
        family: $txt-font;
      }
      line-height: 1.5;
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }//end homepage
  }//end body

  /* Les titres */
  h1,
  h2,
  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
  } //end les titres

/* Aside : localisation + zone How it works */
  aside {
    .localisation {
      background-color: $color-primary-3;
      padding: 2px;
    }//end localisation

    // zone Book the menu
    .btn_explore {
      background-color: $color-bg;
      height: 200px;

      h2 {
        font: $h2-font;
        padding-top: 30px;
        }//end h2
      
      p{
        padding-top: 10px;
        padding-bottom: 15px;
      }//end p

      a{
          background-color: $color-primary-1;
          background: linear-gradient(to left top, $color-primary-1, $color-primary-2);
          border-radius: 10px;
          color: $color-white;
          font-size: $fontsize-regular;
          width : 200px;
          height: 75px;
          box-sizing: border-box;
          text-align: center;
          padding: 7px;
          text-decoration: none;

          &:hover{
            background: linear-gradient(to left top, lighten($color-primary-1, 5), lighten($color-primary-2, 5));
          }//end hover
      }//end bouton cliquable ancre
    }//end zone btn_explore
    //End zone Book the menu

    //zone How it works
    .how_it_works{
      padding-bottom: 15px;

      h2{
        padding-top: 20px;
        padding-bottom: 15px;
      }

      ul{
        
        li{
          background-color: $color-bg;
          border: 3px solid $color-bg;
          border-radius: 10px;
          box-shadow: 0 5px 5px 0 lighten($color-primary-3, 12);
          padding-bottom: 1px;
          line-height: 2rem;
          margin-bottom: 20px;
          width: 300px;
          list-style-type: none;//a modifier par numero personnalisés : voir si variable map fonctionne?
          
          
         }//end li
    }//end ul

    }//end zone How it works

  }//end aside

  main {
    background-color: $color-bg;

    img {
      background-size: cover;
      width: 300px;
      height: 200px;
    }//end img
  }//end main

}//end html
