//--- ANIMATION COEUR --- (bouton like) : au clic, il doit se remplir (possible de faire l'anim sur le :hover)
//superposition de 2 coeurs fontawesome : 1vide+1plein puis animation au hover pour remplissage

.heart {
  cursor: pointer;
  position: relative;
}

.heart1 {
  position: absolute;
}

.heart2 {
  z-index: 999;
  opacity: 0;
  background: linear-gradient(
          to left top,
          $color-primary-2 40%,
          $color-primary-1,
        );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.heart .heart2 {
  opacity: 0;
  transition: opacity 0.3s;
}

.heart:hover .heart2 {
  opacity: 1;
}

.heart .heart1 {
  opacity: 1;
  transition: opacity 0.3s;
}
.heart:hover .heart1 {
  opacity: 0;
}

