//--- ANIMATION MENU --- Affichage des blocs : Entrées, Plats, Desserts.
//on part de opacity 0 et 30px plus bas -> position finale et opacity 1 (animation menuSlide)

.menu_wrapper {
  -webkit-animation: 1.2s menuSlide ease-in-out;
  animation: 1.2s menuSlide ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes menuSlide {
  from {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes menuSlide {
  from {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@for $i from 1 through 3 {
  //définition de la boucle pour l'application du delai d'affichage en cascade : Pour chaque élément respecter un délai avant de lancer l'animation.
  .menu_wrapper:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.75}s;
  }
}
